Main.workflow.json
{
  "name": "My workflow 16",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual_System_Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -720,
        20
      ],
      "id": "37973422-48ae-4ce0-9b2f-435a55e42292"
    },
    {
      "parameters": {
        "path": "pilot_advisory_combined",
        "options": {
          "rawBody": true,
          "responseData": ""
        }
      },
      "name": "Advisory_Webhook_Handler",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -800,
        300
      ],
      "id": "f2a97191-54b3-49a3-b17b-deaa64869451",
      "webhookId": "87472abe-1082-4554-b5c6-a88f0bc97618"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "name": "Research_Weekly_Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -800,
        500
      ],
      "id": "493bf6c6-4e0a-492d-9968-152b9f64dd70"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "name": "Monitor_Daily_Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -800,
        700
      ],
      "id": "2f8d01f6-17a1-4fc6-b6ad-3239bf5e4bfa"
    },
    {
      "parameters": {
        "functionCode": "// Workflow Router - Determines which branch to execute\nconst triggerType = $input.all()[0].json.triggerType || 'manual';\nconst workflowId = Date.now().toString();\n\n// Set common variables\nconst commonData = {\n  workflowId: workflowId,\n  timestamp: new Date().toISOString(),\n  triggerType: triggerType,\n  status: 'initiated'\n};\n\n// Route to appropriate workflow branch\nswitch(triggerType) {\n  case 'manual':\n    return [{\n      json: {\n        ...commonData,\n        branch: 'pilot_management',\n        action: 'start_pilot_processing'\n      }\n    }];\n  case 'webhook':\n    return [{\n      json: {\n        ...commonData,\n        branch: 'advisory_system',\n        action: 'process_advisory_request',\n        requestData: $input.all()[0].json\n      }\n    }];\n  case 'research':\n    return [{\n      json: {\n        ...commonData,\n        branch: 'research_automation',\n        action: 'generate_weekly_report'\n      }\n    }];\n  case 'monitor':\n    return [{\n      json: {\n        ...commonData,\n        branch: 'system_monitoring',\n        action: 'check_system_health'\n      }\n    }];\n  default:\n    return [{\n      json: {\n        ...commonData,\n        branch: 'error',\n        action: 'unknown_trigger',\n        error: 'Unknown trigger type: ' + triggerType\n      }\n    }];\n}"
      },
      "name": "Shared_Workflow_Router",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -600,
        360
      ],
      "id": "2bbdd305-fc59-4099-a6ed-2edb010651dd"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.branch}}",
              "value2": "pilot_management"
            }
          ]
        }
      },
      "name": "Route_To_Pilot_Management",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -400,
        100
      ],
      "id": "62fb896d-37f7-4cb3-af74-5f2a302b131f"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.branch}}",
              "value2": "pilot_management"
            }
          ]
        }
      },
      "name": "Route_To_Advisory_System",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -400,
        300
      ],
      "id": "71ec6b48-ec1d-4884-bcfc-c316ba17fd2e"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.branch}}",
              "value2": "research_automation"
            }
          ]
        }
      },
      "name": "Route_To_Research_Automation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -400,
        500
      ],
      "id": "dd8e4405-2b6c-4aa6-9168-35b195b5d049"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.branch}}",
              "value2": "system_monitoring"
            }
          ]
        }
      },
      "name": "Route_To_System_Monitoring",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -400,
        700
      ],
      "id": "5e39c85a-3cfd-4e68-8995-26853c4d9475"
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "list",
        "application": {
          "__rl": true,
          "value": "https://airtable.com/appsFVksQKPr7diGp/tbl4KHUxVfOYEcjVV/viwETWJENzI15si7r?blocks=hide",
          "mode": "url"
        },
        "table": {
          "__rl": true,
          "value": "tbl4KHUxVfOYEcjVV",
          "mode": "id"
        },
        "additionalOptions": {
          "fields": [
            "Organization Name",
            "Organization Type",
            "Contact Information",
            "Geographic Location",
            "Current Technology Stack",
            "Pilot Readiness Score",
            "Status"
          ]
        }
      },
      "name": "Pilot_Get_Sites",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        400,
        40
      ],
      "id": "62c7f2b8-b4bb-43a5-9251-a908c3806bce",
      "credentials": {
        "airtableTokenApi": {
          "id": "NEKfewzXsEu3S3Xb",
          "name": "Airtable Personal Access Token account 5"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Advisory Expert Assignment Logic\nconst expertMapping = {\n  'business_modeling': 'business_analyst_team',\n  'test_design': 'clinical_team',\n  'implementation': 'tech_implementation_team',\n  'regulatory': 'compliance_team',\n  'pilot_onboarding': 'pilot_coordination_team'\n};\n\nreturn items.map(item => {\n  item.json.assignedExpert = expertMapping[item.json.requestType] || 'general_team';\n  item.json.workflowStage = 'expert_assigned';\n  item.json.priority = item.json.pilotScore > 18 ? 'high' : 'normal';\n  item.json.processedBy = 'advisory_system';\n  return item;\n});"
      },
      "name": "Advisory_Assign_Expert",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -180,
        280
      ],
      "id": "aceb9844-2dbf-4a50-b046-629cd9bb82f2"
    },
    {
      "parameters": {
        "functionCode": "// Research Data Processing\nconst mockData = {\n  pilot_sites: items[0].json.pilot_sites || [],\n  advisory_sessions: items[0].json.advisory_sessions || [],\n  clinical_data: items[0].json.clinical_data || []\n};\n\n// Anonymize sensitive data\nconst anonymizedData = {\n  pilot_sites: mockData.pilot_sites.map(site => {\n    delete site.contact_info;\n    delete site.sensitive_identifiers;\n    return site;\n  }),\n  research_metrics: {\n    total_sites: mockData.pilot_sites.length,\n    active_sessions: mockData.advisory_sessions.length,\n    data_points: mockData.clinical_data.length\n  }\n};\n\nitems[0].json.anonymizedData = anonymizedData;\nitems[0].json.processedBy = 'research_system';\nreturn items;"
      },
      "name": "Research_Process_Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -180,
        480
      ],
      "id": "3e0f62d2-a1c7-44ca-8a1e-da4978b96458"
    },
    {
      "parameters": {
        "functionCode": "// System Health Monitoring\nconst metrics = {\n  pilot_sites: items[0].json.pilot_sites || 0,\n  advisory_requests: items[0].json.advisory_requests || 0,\n  research_publications: items[0].json.research_publications || 0,\n  system_uptime: items[0].json.system_uptime || 99.9,\n  response_time: items[0].json.avg_response_time || 2.3\n};\n\nitems[0].json.alert = false;\nitems[0].json.alerts = [];\n\nif (metrics.response_time > 5.0) {\n  items[0].json.alert = true;\n  items[0].json.alerts.push('System response time exceeded 5 seconds');\n}\n\nif (metrics.system_uptime < 99.0) {\n  items[0].json.alert = true;\n  items[0].json.alerts.push('System uptime below 99%');\n}\n\nitems[0].json.systemHealth = {\n  status: items[0].json.alert ? 'WARNING' : 'HEALTHY',\n  metrics: metrics,\n  timestamp: new Date().toISOString()\n};\n\nitems[0].json.processedBy = 'monitoring_system';\nreturn items;"
      },
      "name": "Monitor_Check_Health",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -120,
        680
      ],
      "id": "e8b25500-7804-40bf-8267-b4d6e1634336"
    },
    {
      "parameters": {
        "channel": "new-channel",
        "text": "=🔄 Master Workflow Executed\n\nWorkflow ID: {{$json.workflowId}}\nBranch: {{$json.processedBy}}\nStatus: {{$json.status || 'completed'}}\nTimestamp: {{$json.timestamp}}\n\nProcessing completed successfully!",
        "otherOptions": {},
        "attachments": []
      },
      "name": "Shared_Notification_Hub",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        220,
        400
      ],
      "id": "0bb323e3-3886-4833-ac53-54a5512dc091",
      "credentials": {
        "slackApi": {
          "id": "jMpwVhS0hKQjBKtD",
          "name": "Slack account 3"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Workflow Status Tracker\nconst workflowData = {\n  workflowId: items[0].json.workflowId,\n  branch: items[0].json.processedBy,\n  status: 'completed',\n  timestamp: new Date().toISOString(),\n  executionTime: Date.now() - parseInt(items[0].json.workflowId),\n  success: true\n};\n\n// Log to shared tracking system\nconsole.log('Workflow Completed:', workflowData);\n\nreturn [{\n  json: {\n    ...items[0].json,\n    workflowStatus: workflowData\n  }\n}];"
      },
      "name": "Shared_Status_Tracker",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        420,
        400
      ],
      "id": "40adad4b-8550-4be1-8965-530b47cbad5e"
    },
    {
      "parameters": {
        "functionCode": "// KPI Metrics Collection\nconst mockData = {\n  processing_time: 45,\n  automated_tasks: 8,\n  total_tasks: 10,\n  errors: 1,\n  total_executions: 50,\n  avg_turnaround: 2.5,\n  on_time_reports: 48,\n  total_reports: 50,\n  accuracy_score: 95.5,\n  quality_rating: 4.2,\n  active_pilots: 12,\n  system_capacity: 50,\n  new_adoptions: 3,\n  total_contacts: 20\n};\n\nconst kpiMetrics = {\n  workflow_efficiency: {\n    avg_processing_time: mockData.processing_time,\n    automation_rate: (mockData.automated_tasks / mockData.total_tasks) * 100,\n    error_rate: (mockData.errors / mockData.total_executions) * 100\n  },\n  report_turnaround: {\n    avg_turnaround_hours: mockData.avg_turnaround,\n    sla_compliance: (mockData.on_time_reports / mockData.total_reports) * 100\n  },\n  diagnostic_accuracy: {\n    accuracy_score: mockData.accuracy_score,\n    quality_rating: mockData.quality_rating\n  },\n  scalability: {\n    concurrent_pilots: mockData.active_pilots,\n    system_capacity: mockData.system_capacity,\n    adoption_rate: (mockData.new_adoptions / mockData.total_contacts) * 100\n  }\n};\n\nreturn [{ json: { timestamp: new Date().toISOString(), kpiMetrics } }];"
      },
      "name": "KPI_Metrics_Collector",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        60,
        820
      ],
      "id": "aaaaab93-c18a-4126-8dfa-1323c09c9922"
    },
    {
      "parameters": {
        "functionCode": "// Academic Content Generation\nconst mockPilotData = {\n  pilot_results: [\n    { site: 'University Hospital A', outcome: 'Positive', efficiency_gain: 25 },\n    { site: 'Regional Medical Center B', outcome: 'Positive', efficiency_gain: 18 }\n  ],\n  success_cases: [\n    { case_id: 'CS001', improvement: 'Reduced report time by 40%' },\n    { case_id: 'CS002', improvement: 'Increased accuracy by 15%' }\n  ],\n  lessons: [\n    'Early stakeholder engagement is crucial',\n    'Training requirements vary by institution size'\n  ]\n};\n\nconst academicContent = {\n  case_studies: {\n    pilot_outcomes: mockPilotData.pilot_results,\n    success_stories: mockPilotData.success_cases,\n    lessons_learned: mockPilotData.lessons,\n    total_sites_studied: mockPilotData.pilot_results.length\n  },\n  research_papers: {\n    data_points: mockPilotData.pilot_results.length * 100,\n    statistical_significance: 'p < 0.05',\n    methodology: 'Randomized controlled trial with pre-post analysis'\n  },\n  whitepapers: {\n    best_practices: [\n      'Establish clear success metrics before implementation',\n      'Ensure adequate training for all user groups',\n      'Implement gradual rollout strategy'\n    ],\n    implementation_guide: [\n      'Phase 1: Stakeholder alignment',\n      'Phase 2: Technical setup',\n      'Phase 3: User training',\n      'Phase 4: Go-live and monitoring'\n    ],\n    roi_analysis: {\n      average_roi: '185%',\n      payback_period: '8 months',\n      cost_savings: '$250K annually'\n    }\n  }\n};\n\nreturn [{ json: { ...items[0].json, academicContent } }];"
      },
      "name": "Academic_Publication_Pipeline",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        280,
        820
      ],
      "id": "bb609519-ce05-4639-96b8-9cfe3112335c"
    },
    {
      "parameters": {
        "functionCode": "// Business Model Advisory Logic\nconst mockBusinessData = {\n  subscription_viability: true,\n  usage_based_viability: true,\n  licensing_viability: false,\n  impl_cost: 150000,\n  ops_cost: 25000,\n  training_cost: 35000,\n  payback_months: 8,\n  npv: 450000,\n  irr: 0.35\n};\n\nconst businessGuidance = {\n  revenue_models: {\n    subscription: mockBusinessData.subscription_viability,\n    per_use: mockBusinessData.usage_based_viability,\n    licensing: mockBusinessData.licensing_viability,\n    recommended: 'Hybrid subscription + per-use model'\n  },\n  cost_analysis: {\n    implementation_cost: mockBusinessData.impl_cost,\n    operational_cost: mockBusinessData.ops_cost,\n    training_cost: mockBusinessData.training_cost,\n    total_first_year: mockBusinessData.impl_cost + mockBusinessData.ops_cost + mockBusinessData.training_cost\n  },\n  roi_projection: {\n    payback_period: mockBusinessData.payback_months,\n    net_present_value: mockBusinessData.npv,\n    internal_rate_return: mockBusinessData.irr * 100,\n    break_even_point: 'Month 8'\n  },\n  risk_assessment: {\n    technical_risk: 'Low',\n    market_risk: 'Medium',\n    regulatory_risk: 'Low',\n    overall_risk: 'Medium-Low'\n  }\n};\n\nreturn [{ json: { ...items[0].json, businessGuidance } }];"
      },
      "name": "Business_Model_Advisor",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        520,
        820
      ],
      "id": "3a5b886f-57a5-4064-ba74-2cbc3ea0a7dd"
    },
    {
      "parameters": {
        "functionCode": "// Quality Assessment Logic\nconst mockQualityData = {\n  report_completeness: 92,\n  diagnostic_accuracy: 95,\n  delivery_timeliness: 88,\n  report_clarity: 90,\n  clinical_relevance: 93\n};\n\nconst qualityMetrics = {\n  completeness: mockQualityData.report_completeness,\n  accuracy: mockQualityData.diagnostic_accuracy,\n  timeliness: mockQualityData.delivery_timeliness,\n  clarity: mockQualityData.report_clarity,\n  clinical_relevance: mockQualityData.clinical_relevance\n};\n\n// Calculate overall quality score\nconst overallScore = Object.values(qualityMetrics).reduce((sum, score) => sum + score, 0) / Object.keys(qualityMetrics).length;\n\nconst qualityGrade = overallScore >= 90 ? 'Excellent' : \n                   overallScore >= 80 ? 'Good' : \n                   overallScore >= 70 ? 'Satisfactory' : 'Needs Improvement';\n\nconst improvementAreas = [];\nif (qualityMetrics.completeness < 90) improvementAreas.push('Report Completeness');\nif (qualityMetrics.accuracy < 95) improvementAreas.push('Diagnostic Accuracy');\nif (qualityMetrics.timeliness < 90) improvementAreas.push('Delivery Timeliness');\nif (qualityMetrics.clarity < 90) improvementAreas.push('Report Clarity');\nif (qualityMetrics.clinical_relevance < 90) improvementAreas.push('Clinical Relevance');\n\nreturn [{ json: { ...items[0].json, qualityMetrics, overallScore: Math.round(overallScore * 100) / 100, qualityGrade, improvementAreas } }];"
      },
      "name": "Report_Quality_Assessor",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        720,
        820
      ],
      "id": "9b272920-2237-4297-9bc5-dd7c7efa7ec9"
    },
    {
      "parameters": {
        "functionCode": "// Scalability Analysis\nconst mockScalabilityData = {\n  active_pilots: 12,\n  max_pilots: 50,\n  monthly_growth: 0.15,\n  team_capacity: 'adequate',\n  tech_scalability: 'high'\n};\n\nconst utilizationRate = (mockScalabilityData.active_pilots / mockScalabilityData.max_pilots) * 100;\n\nconst scalabilityMetrics = {\n  current_capacity: {\n    active_pilots: mockScalabilityData.active_pilots,\n    max_concurrent_pilots: mockScalabilityData.max_pilots,\n    utilization_rate: Math.round(utilizationRate * 100) / 100\n  },\n  growth_projections: {\n    monthly_growth_rate: mockScalabilityData.monthly_growth * 100,\n    projected_6_month: Math.round(mockScalabilityData.active_pilots * Math.pow(1 + mockScalabilityData.monthly_growth, 6)),\n    capacity_threshold: mockScalabilityData.max_pilots * 0.8\n  },\n  readiness_assessment: {\n    infrastructure_ready: utilizationRate < 80,\n    team_capacity: mockScalabilityData.team_capacity,\n    technology_scalability: mockScalabilityData.tech_scalability,\n    scaling_recommendation: utilizationRate > 70 ? 'Consider capacity expansion' : 'Current capacity adequate'\n  }\n};\n\nreturn [{ json: { ...items[0].json, scalabilityMetrics } }];"
      },
      "name": "Scalability_Analyzer",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        920,
        820
      ],
      "id": "1ecbe22b-c92a-4c69-9281-d20f2b2af3b3"
    },
    {
      "parameters": {
        "functionCode": "// Comprehensive Report Generator\nconst reportData = {\n  executionId: Date.now().toString(),\n  timestamp: new Date().toISOString(),\n  summary: {\n    kpi_status: 'All metrics within acceptable ranges',\n    academic_readiness: 'Ready for publication',\n    business_viability: 'High ROI potential',\n    quality_grade: items[0].json.qualityGrade,\n    scalability_status: items[0].json.scalabilityMetrics.readiness_assessment.scaling_recommendation\n  },\n  detailed_metrics: {\n    kpi: items[0].json.kpiMetrics,\n    academic: items[0].json.academicContent,\n    business: items[0].json.businessGuidance,\n    quality: {\n      overall_score: items[0].json.overallScore,\n      grade: items[0].json.qualityGrade,\n      improvement_areas: items[0].json.improvementAreas\n    },\n    scalability: items[0].json.scalabilityMetrics\n  },\n  recommendations: [\n    'Continue current pilot expansion strategy',\n    'Prepare academic publications for Q2',\n    'Consider scaling infrastructure at 75% capacity',\n    'Focus on improving areas identified in quality assessment'\n  ]\n};\n\nconsole.log('PAP Enhanced Workflow Completed:', reportData.summary);\n\nreturn [{ json: reportData }];"
      },
      "name": "Comprehensive_Report_Generator",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1120,
        820
      ],
      "id": "ea2b36fa-7591-456d-a9c0-6b3a31ef52e9"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"facilities\": [\n    {\n      \"id\": \"FAC_001\",\n      \"name\": \"University Medical Center\",\n      \"type\": \"university_hospital\",\n      \"city\": \"San Francisco\",\n      \"state\": \"CA\",\n      \"bed_count\": 650,\n      \"annual_imaging_studies\": 75000,\n      \"technology_readiness\": 12,\n      \"previous_pilots\": 2,\n      \"contact_email\": \"test@example.com\",\n      \"contact_name\": \"Dr. Sarah Johnson\"\n    },\n    {\n      \"id\": \"FAC_002\", \n      \"name\": \"Metro General Hospital\",\n      \"type\": \"teaching_hospital\",\n      \"city\": \"Austin\",\n      \"state\": \"TX\",\n      \"bed_count\": 450,\n      \"annual_imaging_studies\": 35000,\n      \"technology_readiness\": 8,\n      \"previous_pilots\": 1,\n      \"contact_email\": \"test2@example.com\",\n      \"contact_name\": \"Dr. Michael Chen\"\n    }\n  ]\n}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "89ddbc37-e24a-4e21-8877-6663c8f45063",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual_System_Start": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Advisory_Webhook_Handler": {
      "main": [
        [
          {
            "node": "Shared_Workflow_Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research_Weekly_Trigger": {
      "main": [
        [
          {
            "node": "Shared_Workflow_Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monitor_Daily_Trigger": {
      "main": [
        [
          {
            "node": "Shared_Workflow_Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shared_Workflow_Router": {
      "main": [
        [
          {
            "node": "Route_To_Pilot_Management",
            "type": "main",
            "index": 0
          },
          {
            "node": "Route_To_Advisory_System",
            "type": "main",
            "index": 0
          },
          {
            "node": "Route_To_Research_Automation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Route_To_System_Monitoring",
            "type": "main",
            "index": 0
          },
          {
            "node": "KPI_Metrics_Collector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route_To_Advisory_System": {
      "main": [
        [
          {
            "node": "Advisory_Assign_Expert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route_To_Research_Automation": {
      "main": [
        [
          {
            "node": "Research_Process_Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route_To_System_Monitoring": {
      "main": [
        [
          {
            "node": "Monitor_Check_Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pilot_Get_Sites": {
      "main": [
        [
          {
            "node": "Shared_Notification_Hub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Advisory_Assign_Expert": {
      "main": [
        [
          {
            "node": "Shared_Notification_Hub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research_Process_Data": {
      "main": [
        [
          {
            "node": "Shared_Notification_Hub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monitor_Check_Health": {
      "main": [
        [
          {
            "node": "Shared_Notification_Hub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shared_Notification_Hub": {
      "main": [
        [
          {
            "node": "Shared_Status_Tracker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KPI_Metrics_Collector": {
      "main": [
        [
          {
            "node": "Academic_Publication_Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Academic_Publication_Pipeline": {
      "main": [
        [
          {
            "node": "Business_Model_Advisor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Business_Model_Advisor": {
      "main": [
        [
          {
            "node": "Report_Quality_Assessor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Report_Quality_Assessor": {
      "main": [
        [
          {
            "node": "Scalability_Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scalability_Analyzer": {
      "main": [
        [
          {
            "node": "Comprehensive_Report_Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Pilot_Get_Sites",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "071cbe72-4a56-4057-a0ab-fa73f8037270",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4f489331cb670003ec9d689d06778a4a537b7818218817673fc887bb6aec46a1"
  },
  "id": "OVMuGoLexawE9Zt1",
  "tags": []
}