My_workflow_9.json
{
  "name": "My workflow 9",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/central-hub",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "be07fe8a-4e26-4054-b3ab-5819260d0fb4",
      "name": "Central Hub Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1620,
        200
      ],
      "webhookId": "0c1dc8ac-9726-425d-9fd1-bbf0836e4425"
    },
    {
      "parameters": {
        "functionCode": "const currentWorkflow = items[0].json.currentWorkflow;\nconst workflowData = items[0].json.workflowData || {};\n\n// Define workflow dependencies and priorities\nconst workflowRules = {\n  'pilot_outreach': {\n    nextWorkflows: ['advisory_requests'],\n    condition: 'outreach_completed',\n    priority: 2,\n    delay: 0\n  },\n  'advisory_requests': {\n    nextWorkflows: ['research_data_collection'],\n    condition: 'session_scheduled',\n    priority: 1,\n    delay: 0\n  },\n  'kpi_monitoring': {\n    nextWorkflows: ['advisory_requests', 'pilot_outreach'],\n    condition: 'alert_triggered',\n    priority: 3,\n    delay: 0\n  },\n  'research': {\n    nextWorkflows: ['pilot_outreach'],\n    condition: 'significant_findings',\n    priority: 1,\n    delay: 7 // 7 days delay\n  }\n};\n\nconst currentRule = workflowRules[currentWorkflow];\nif (!currentRule) {\n  return [{json: {error: 'Unknown workflow: ' + currentWorkflow}}];\n}\n\n// Determine next workflow based on conditions\nlet nextWorkflow = null;\nlet shouldTrigger = false;\n\nswitch(currentWorkflow) {\n  case 'pilot_outreach':\n    shouldTrigger = workflowData.emailsSent > 0;\n    nextWorkflow = 'advisory_requests';\n    break;\n    \n  case 'advisory_requests':\n    shouldTrigger = workflowData.sessionScheduled === true;\n    nextWorkflow = 'research_data_collection';\n    break;\n    \n  case 'kpi_monitoring':\n    shouldTrigger = workflowData.alertTriggered === true;\n    nextWorkflow = workflowData.alertType === 'critical' ? 'advisory_requests' : 'pilot_outreach';\n    break;\n    \n  case 'research':\n    shouldTrigger = workflowData.impactScore > 20;\n    nextWorkflow = 'pilot_outreach';\n    break;\n}\n\nreturn [{\n  json: {\n    currentWorkflow: currentWorkflow,\n    nextWorkflow: nextWorkflow,\n    shouldTrigger: shouldTrigger,\n    delay: currentRule.delay,\n    priority: currentRule.priority,\n    workflowData: workflowData\n  }\n}];"
      },
      "id": "001cb3b3-7a5f-427f-866e-fdda3ff1e73b",
      "name": "Workflow Orchestrator",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1340,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.shouldTrigger}}",
              "value2": true
            }
          ]
        }
      },
      "id": "ab2f1309-1377-44e2-a8e5-3ef48f49e228",
      "name": "Should Trigger Next",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1080,
        200
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "application": {
          "__rl": true,
          "mode": "url",
          "value": ""
        },
        "table": "Workflow_Status",
        "options": {}
      },
      "id": "e0600c0a-8509-41b9-b2fe-83133d7145de",
      "name": "Update Workflow Status",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        -780,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.delay}}",
              "operation": "larger"
            }
          ]
        }
      },
      "id": "40cfb321-a772-4f10-98c0-fe63a663f579",
      "name": "Handle Delay",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -460,
        180
      ]
    },
    {
      "parameters": {
        "amount": "={{$json.delay}}",
        "unit": "days"
      },
      "id": "4378efa0-9b03-4e32-98e7-ef76d09da6cb",
      "name": "Wait for Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -520,
        -20
      ],
      "webhookId": "b93cb125-00a9-43e5-9a32-7f1106669db3"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.nextWorkflow}}",
        "rules": {
          "rules": [
            {
              "value2": "pilot_outreach"
            },
            {
              "value2": "advisory_requests",
              "output": 1
            },
            {
              "value2": "kpi_monitoring",
              "output": 2
            },
            {
              "value2": "research",
              "output": 3
            }
          ]
        }
      },
      "id": "605efc85-81c0-4288-9557-c4cabffb9726",
      "name": "Workflow Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -200,
        200
      ]
    },
    {
      "parameters": {
        "url": "={{$env.N8N_WEBHOOK_URL}}/trigger-pilot-outreach",
        "options": {}
      },
      "id": "a50d1192-6776-4e04-8811-35e9ed71eaf8",
      "name": "Trigger Pilot Outreach",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        80,
        -220
      ]
    },
    {
      "parameters": {
        "url": "={{$env.N8N_WEBHOOK_URL}}/trigger-advisory",
        "options": {}
      },
      "id": "6c72d0aa-054d-4bf0-9771-ad6bdec5c1bb",
      "name": "Trigger Advisory Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        80,
        -20
      ]
    },
    {
      "parameters": {
        "url": "={{$env.N8N_WEBHOOK_URL}}/trigger-kpi",
        "options": {}
      },
      "id": "a509473e-8fdc-48d0-8103-27ea6350f103",
      "name": "Trigger KPI Monitoring",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        80,
        200
      ]
    },
    {
      "parameters": {
        "url": "={{$env.N8N_WEBHOOK_URL}}/trigger-research",
        "options": {}
      },
      "id": "425e7f05-fac1-416c-a432-69c86d66d407",
      "name": "Trigger Research",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        100,
        440
      ]
    },
    {
      "parameters": {
        "functionCode": "const hubData = {\n  currentWorkflow: 'pilot_outreach',\n  workflowData: {\n    emailsSent: items.length,\n    organizationsContacted: items.map(item => item.json['Organization Name']),\n    outreachCompleted: true,\n    highScoreCount: items.length\n  }\n};\n\nreturn [{json: hubData}];"
      },
      "id": "fd8d565c-3b5a-4c9e-8189-a828d8f5795b",
      "name": "Connect to Hub - Pilot",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -780,
        560
      ]
    },
    {
      "parameters": {
        "functionCode": "const hubData = {\n  currentWorkflow: 'advisory_requests',\n  workflowData: {\n    sessionScheduled: true,\n    requestType: items[0].json.requestType,\n    organization: items[0].json.organization,\n    expertAssigned: items[0].json.assignedExpert,\n    sessionDetails: items[0].json\n  }\n};\n\nreturn [{json: hubData}];"
      },
      "id": "01383e2a-4ae7-4116-9075-67359b25e44b",
      "name": "Connect to Hub - Advisory",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1200,
        560
      ]
    },
    {
      "parameters": {
        "functionCode": "const hubData = {\n  currentWorkflow: 'kpi_monitoring',\n  workflowData: {\n    alertTriggered: items[0].json.alert,\n    alertType: items[0].json.alert ? 'critical' : 'normal',\n    alertMessage: items[0].json.message,\n    kpiData: items[0].json\n  }\n};\n\nreturn [{json: hubData}];"
      },
      "id": "ae0a6580-9f4a-4349-b2c7-33b02469a413",
      "name": "Connect to Hub - KPI",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -140,
        580
      ]
    },
    {
      "parameters": {
        "functionCode": "const hubData = {\n  currentWorkflow: 'research',\n  workflowData: {\n    manuscriptGenerated: true,\n    researchTitle: items[0].json.title,\n    impactScore: items[0].json.impactScore || 15,\n    significantFindings: items[0].json.title?.includes('breakthrough') || false,\n    researchData: items[0].json\n  }\n};\n\nreturn [{json: hubData}];"
      },
      "id": "e1f1b181-f49c-4e16-8f4f-91c9d61f3443",
      "name": "Connect to Hub - Research",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -440,
        640
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"success\", \"message\": \"Workflow orchestration completed\", \"nextWorkflow\": \"{{$json.nextWorkflow}}\", \"delay\": {{$json.delay}}}",
        "options": {}
      },
      "id": "ccc4d8ed-e85a-4d98-8eeb-65d5e63d1b28",
      "name": "Response Node",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        520,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\",\n  \"message\": \"Workflow completed\",\n  \"execution_id\": \"{{$json.execution_id}}\",\n  \"timestamp\": \"{{new Date().toISOString()}}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        740,
        200
      ],
      "id": "2e021133-546e-4017-815e-1aca04775863",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Central Hub Webhook": {
      "main": [
        [
          {
            "node": "Workflow Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Orchestrator": {
      "main": [
        [
          {
            "node": "Should Trigger Next",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Trigger Next": {
      "main": [
        [
          {
            "node": "Update Workflow Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Workflow Status": {
      "main": [
        [
          {
            "node": "Handle Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Delay": {
      "main": [
        [
          {
            "node": "Wait for Delay",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Delay": {
      "main": [
        [
          {
            "node": "Workflow Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Router": {
      "main": [
        [
          {
            "node": "Trigger Pilot Outreach",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Advisory Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger KPI Monitoring",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Pilot Outreach": {
      "main": [
        [
          {
            "node": "Response Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Advisory Request": {
      "main": [
        [
          {
            "node": "Response Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger KPI Monitoring": {
      "main": [
        [
          {
            "node": "Response Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Research": {
      "main": [
        [
          {
            "node": "Response Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Node": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "da9e5e02-885e-4fe2-9153-deb2af1539db",
  "meta": {
    "instanceId": "4f489331cb670003ec9d689d06778a4a537b7818218817673fc887bb6aec46a1"
  },
  "id": "xC83zq9uwYlusa0W",
  "tags": []
}